
<%- include('header') %>

<div class="box" id="heading">
    <h1 >About</h1>
</div>

<div class="box">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non consequat ligula, 
    non feugiat ex. In eu risus malesuada, tincidunt sem ut, tempor mauris. Sed ac est ultrices 
    ante dapibus lobortis a sit amet mauris. Pellentesque habitant morbi tristique senectus et netus 
    et malesuada fames ac turpis egestas.</p>
</div>

<%- include('footer') %>